footer {
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    height: 300px;
    background-image: url(../../images/footerd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .signup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            width: 415px;
            height: 96px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14286px;
            color: #FFFFFF;
        }
    }
}

.bottom {
    background: #333A44;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

@include for-tablet-only {
    .top {
        background-image: url(../../images/footert.jpg);
        .signup {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__title {
                width: 457px;
                height: 96px;
            }
            &__download {
                width: 256px;
                height: 40px;
                margin-top: 40px;
            }
        }
    }
}

@include for-mobile-only {
    .top {
        background-image: url(../../images/footerm.jpg);
    }
    .bottom {
        width: 100%;
        height: 438px;
        .nav__menu {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            &__left {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            ul {
                margin-right: 50px;
                margin-top: 40px;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            img {
                margin-top: 85px;
            }
        }
    }
}